.boton {
    background-color: #28880bd0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor:pointer;
}

.boton_se {
    background-color: transparent;
    border: 4px solid #0bcf95;
    color:  #28880bd0;
    cursor: pointer;
}